{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid">
      <div class="card mb-4">
        <div class="card-header">
          <h2>{{ notice.title }}</h2>
        </div>
        <div class="card-body">
          {{ notice.content }}
        </div>
        <hr>
        <div>
          {% if user.is_authenticated %}
            <form action="{% url 'board:comment_create' notice.pk %}" method="POST">
              {% csrf_token %}
              {% bootstrap_form comment_form %}
              {% buttons %}
                <input type="submit" value="댓글생성" class="btn btn-primary">
              {% endbuttons %}
            </form>
          {% else %}
            <a href="{% url 'board:login' %}">[댓글을 작성하시려면 로그인을 해 주세요.]</a>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}