{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">공공 자전거 수요예측</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">주 단위 공공자전거 이용량 / 주소별 거치대수</li>
                </ol>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div>
                                  <i class="fas fa-address-book"></i>
                                  주소선택
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <select id="index_rent_Gu" name="Gu_list" value="구" class="custom-select">
                                            <!-- 1. select의 값이 바뀌면 axios 요청을 한다. -->
                                            <option value="" selected="selected">-----구 선택-----</option>
                                            <!-- 요청한곳에는 변경된 select 값을 가지는 데이터들을 조회한다. -->
                                            <!-- 그 조회된 값들을 json으로 넘겨준다. -->
                                            {% for selgu in rentgu %}
                                                <option value="{{selgu}}">{{selgu}}</option>
                                            {% endfor %}
                                          </select>
                                    </div>
                                    <div class="col-6">
                                        <select id="index_rent_Dong" name="Dong_list" value="동" class="custom-select">
                                            <option value="" selected="selected">-----동 선택-----</option>
                                            {% for seldong in rentdong %}
                                                <option value="{{seldong}}">{{seldong}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">  
                              <div class="table-responsive">
                                <table class="table table-bordered table-hover" width="100%" cellspacing="10" id="indexTable"> 
                                  <thead>
                                    <th>대여소명</th>
                                  </thead>
                                  <tbody class="station_Name">
                                    <tr id="station_tr">
                                      <!-- <td><input type="button" id="selName" value="{{selstationname}}"/></td> -->
                                      <td>{{selstationname}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="card mb-8">
                            <div class="card-header">
                                <i class="fas fa-chart-bar mr-1"></i>
                                주간 공공자전거 이용량
                                <form action="{% url 'board:charts' %}" method="get" class="float-right">
                                    <input type="hidden" name="stationNum" id="detailStationNum">
                                    <input type="submit" class="btn btn-dark" value="데이터 상세보기">
                                </form>
                            </div>
                            <div class="card-body"><canvas id="myindexBarChart" width="100%" height="400"></canvas></div>
                        </div>
                    </div>  
                </div>
              <div class="row">
                <div class="col-xl-12">
                  <div class="card mb-4">
                      <div class="card-header">
                          <i class="fas fa-table mr-1"></i>
                          공공자전거 주소
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                                      <tr>
                                          <th></th>
                                          <th>대여소구</th>
                                          <th>대여소동</th>
                                          <th>대여소명</th>
                                          <th>대여소ID</th>
                                          <th>거치대수</th>                                        
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for address in addresses%}
                                      <tr>
                                          <td>{{address.pk}}</td>
                                          <td>{{address.rentGu}}</td>
                                          <td>{{address.rentDong}}</td>
                                          <td>{{address.stationName}}</td>
                                          <td>{{address.stationNum}}</td>
                                          <td>{{address.stationValue}}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <ul class="pagination justify-content-center">
                          <!-- 이전 페이지 -->
                          {% if addresses.has_previous %}
                          <li class="page-item">
                              <a href="?page=1" class="page-link">&laquo;</a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" 
                              href="?page={{ addresses.previous_page_number }}" 
                              tabindex="-1">&lt;
                              </a>
                          </li>
                          {% endif %}
                          <!-- 페이지 범위 및 현재 페이지 -->
                          {% for page in paginator_range %}
                          {% if addresses.number == page %}
                          <li class="page-item active">
                              <!-- [1] -->
                              <span class="page-link">{{ page }}
                                  <span class="sr-only">(current)</span>
                              </span>
                          </li>
                          {% else %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                          </li>
                          {% endif %}
                          {% endfor %}
                          <!-- 다음 페이지 -->
                          {% if addresses.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ addresses.next_page_number }}">&gt;</a>
                          </li>
                          <li class="page-item">
                              <a href="?page={{ addresses.paginator.num_pages }}" class="page-link">&raquo;</a>
                          </li>
                          {% endif %}
                      </ul>
                  </div>
                </div>
              </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block scrip %}
<script src="{% static 'js/index-bar-demo.js' %}"></script>
{% endblock %}