{% extends 'layout.html' %}
{% block body %}
{% load static %}
    <div class>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header" style="background-color:#C00000; color: seashell; border-top-left-radius: 20px; border-top-right-radius: 20px"> 
                                        <h2 class="text-center my-4" style="position: relative;">Pre-Bike</h2>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">관리자ID</label>
                                                <input class="form-control py-4" id="inputEmailAddress" name="userid" type="text" placeholder="아이디를 입력하세요." />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Password</label>
                                                <input class="form-control py-4" id="inputPassword" name ="password" type="password" placeholder="패스워드를 입력하세요." />
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-5 mb-0"> 
                                            </div>
                                            <div class="form-group align-items-center mt-3">
                                                <input type="submit" class="btn" value="로그인" 
                                                    style="margin: auto; padding-left: 50px; padding-right: 50px; padding-top: 10px; padding-bottom: 10px; display: block; background-color:#C00000; color: seashell; font-weight: bold;">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">

            </div>
        </div>
    </div>
{% endblock %}