{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/d977b9dc6d.js" crossorigin="anonymous"></script>
  <title>PreBike</title>
</head>
<body>
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message.message }}</div>
      {% endfor %}
  {% endif %}
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  {% bootstrap_javascript jquery='full' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/chart-bar-demo.js' %}"></script>
  <script src="{% static 'js/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/chart-pie-demo.js' %}"></script>
  <script src="{% static 'js/datatables-demo.js' %}"></script>
</body>
</html>